.env_DES.LM
.vscode
.idea
.ipynb_checkpoints
_tmp_*.*
~_tmp_*.*
_local_*.*
_tmp_Picts
__pycache__

_tmp_UpLoadParameters
_tmp_UpLoadEmails
_tmp_UpLoadReports
_tmp_DownLoadParameters
_tmp_DownLoadEmails
_tmp_DownLoadReports
debug.logs

debug.cfg

ReportsPrepared
RawData
build
dist
AccessCodes
mef.bat
requirements.bat
*.spec
*.pkl
*.ipynb
*.exe
*.zip
*.ttf
*.key
Отчет - Подр-Сотрудник Кат.План.Лимиты.xlsx
iCodes.py
Settings4Developer.xlsx

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*
